body{
    background-color: aqua;
}
img{
    border-radius: 100px;
    border-color: black;
    border-width: 10px;
}
.t1{
    background-color: beige;
    
}
.t2{
    border: 1px;
    background-color: aquamarine;
    margin-top: 10px;
}
.b1{
    background-color: bisque;
}